h1 {
	text-align: center
}


/* body {
  background-color: #C2DFBF;
} */
	
.hoaxoe {
  height: 100px;
  width: 100px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.droplet {
  border-radius: 5px 90%;
  border-style: solid;
  border-width: 5px;
  border-color: black;
  height: 100px;
  margin: auto;
  width: 100px;
  position: absolute;
  top: 50px;
  left: 50px;
  transform-origin: left top;
  opacity: 0;
}
	
#no0 {
  background: black;
  animation: spin 5s ease-out infinite;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}

#no1 {
  background: #909af5;
  animation: spin 6.5s ease-out infinite;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}

#no2 {
  background: #c8cdfa;
  animation: spin2 6.5s ease-out infinite;
  animation-fill-mode: forwards;
  animation-delay: 0.05s;
}

#no3 {
  background: #909af5;
  animation: spin3 6.5s ease-out infinite;
  animation-fill-mode: forwards;
  animation-delay: 0.1s;
}

#no4 {
  background: #c8cdfa;
  animation: spin4 6.5s ease-out infinite;
  animation-fill-mode: forwards;
  animation-delay: 0.15s;
}

#no5 {
  background: #909af5;
  animation: spin5 6.5s ease-out infinite;
  animation-fill-mode: forwards;
  animation-delay: 0.2s;
}

#no6 {
  background: #c8cdfa;
  animation: spin6 6.5s ease-out infinite;
  animation-fill-mode: forwards;
  animation-delay: 0.25s;
}

#no7 {
  background: #909af5;
  animation: spin7 6.5s ease-out infinite;
  animation-fill-mode: forwards;
  animation-delay: 0.30s;
}

#no8 {
  background: #c8cdfa;
  animation: spin8 6.5s ease-out infinite;
  animation-fill-mode: forwards;
  animation-delay: 0.35s;
}

#no9 {
  background: #909af5;
  animation: spin9 6.5s ease-out infinite;
  animation-fill-mode: forwards;
  animation-delay: 0.40s;
}

#no10 {
  background: #c8cdfa;
  animation: spin10 6.5s ease-out infinite;
  animation-fill-mode: forwards;
  animation-delay: 0.45s;
}

@keyframes spin {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0.01);
    transform: rotate(0deg) scale(0.01);
  }
  20% {
    opacity: 100;
    -webkit-transform: rotate(324deg) scale(1);
    transform: rotate(324deg) scale(1);
  }
  60% {
    opacity: 100;
    -webkit-transform: rotate(324deg) scale(1);
    transform: rotate(324deg) scale(1);
  }
  80% {
    opacity: 0;
    -webkit-transform: rotate(720deg) scale(0.01);
    transform: rotate(720deg) scale(0.01);
  }
  100% {
    -webkit-transform: rotate(720deg) scale(0.01);
    transform: rotate(720deg) scale(0.01);
  }
}

@keyframes spin2 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0.01);
    transform: rotate(0deg) scale(0.01);
  }
  20% {
    opacity: 100;
    -webkit-transform: rotate(288deg) scale(1);
    transform: rotate(288deg) scale(1);
  }
  60% {
    opacity: 100;
    -webkit-transform: rotate(288deg) scale(1);
    transform: rotate(288deg) scale(1);
  }
  80% {
    opacity: 0;
    -webkit-transform: rotate(720deg) scale(0.01);
    transform: rotate(720deg) scale(0.01);
  }
  100% {
    -webkit-transform: rotate(720deg) scale(0.01);
    transform: rotate(720deg) scale(0.01);
  }
}

@keyframes spin3 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0.01);
    transform: rotate(0deg) scale(0.01);
  }
  20% {
    opacity: 100;
    -webkit-transform: rotate(252deg) scale(1);
    transform: rotate(252deg) scale(1);
  }
  60% {
    opacity: 100;
    -webkit-transform: rotate(252deg) scale(1);
    transform: rotate(252deg) scale(1);
  }
  80% {
    opacity: 0;
    -webkit-transform: rotate(720deg) scale(0.01);
    transform: rotate(720deg) scale(0.01);
  }
  100% {
    -webkit-transform: rotate(720deg) scale(0.01);
    transform: rotate(720deg) scale(0.01);
  }
}

@keyframes spin4 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0.01);
    transform: rotate(0deg) scale(0.01);
  }
  20% {
    opacity: 100;
    -webkit-transform: rotate(2160deg) scale(1);
    transform: rotate(216deg) scale(1);
  }
  60% {
    opacity: 100;
    -webkit-transform: rotate(216deg) scale(1);
    transform: rotate(216deg) scale(1);
  }
  80% {
    opacity: 0;
    -webkit-transform: rotate(720deg) scale(0.01);
    transform: rotate(720deg) scale(0.01);
  }
  100% {
    -webkit-transform: rotate(720deg) scale(0.01);
    transform: rotate(720deg) scale(0.01);
  }
}

@keyframes spin5 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0.01);
    transform: rotate(0deg) scale(0.01);
  }
  20% {
    opacity: 100;
    -webkit-transform: rotate(180deg) scale(1);
    transform: rotate(180deg) scale(1);
  }
  60% {
    opacity: 100;
    -webkit-transform: rotate(180deg) scale(1);
    transform: rotate(180deg) scale(1);
  }
  80% {
    opacity: 0;
    -webkit-transform: rotate(720deg) scale(0.01);
    transform: rotate(720deg) scale(0.01);
  }
  100% {
    -webkit-transform: rotate(720deg) scale(0.01);
    transform: rotate(720deg) scale(0.01);
  }
}

@keyframes spin6 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0.01);
    transform: rotate(0deg) scale(0.01);
  }
  20% {
    opacity: 100;
    -webkit-transform: rotate(144deg) scale(1);
    transform: rotate(144deg) scale(1);
  }
  60% {
    opacity: 100;
    -webkit-transform: rotate(144deg) scale(1);
    transform: rotate(144deg) scale(1);
  }
  80% {
    opacity: 0;
    -webkit-transform: rotate(720deg) scale(0.01);
    transform: rotate(720deg) scale(0.01);
  }
  100% {
    -webkit-transform: rotate(720deg) scale(0.01);
    transform: rotate(720deg) scale(0.01);
  }
}

@keyframes spin7 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0.01);
    transform: rotate(0deg) scale(0.01);
  }
  20% {
    opacity: 100;
    -webkit-transform: rotate(108deg) scale(1);
    transform: rotate(108deg) scale(1);
  }
  60% {
    opacity: 100;
    -webkit-transform: rotate(108deg) scale(1);
    transform: rotate(108deg) scale(1);
  }
  80% {
    opacity: 0;
    -webkit-transform: rotate(720deg) scale(0.01);
    transform: rotate(720deg) scale(0.01);
  }
  100% {
    -webkit-transform: rotate(720deg) scale(0.01);
    transform: rotate(720deg) scale(0.01);
  }
}

@keyframes spin8 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0.01);
    transform: rotate(0deg) scale(0.01);
  }
  20% {
    opacity: 100;
    -webkit-transform: rotate(72deg) scale(1);
    transform: rotate(72deg) scale(1);
  }
  60% {
    opacity: 100;
    -webkit-transform: rotate(72deg) scale(1);
    transform: rotate(72deg) scale(1);
  }
  80% {
    opacity: 0;
    -webkit-transform: rotate(720deg) scale(0.01);
    transform: rotate(720deg) scale(0.01);
  }
  100% {
    ;
    -webkit-transform: rotate(720deg) scale(0.01);
    transform: rotate(720deg) scale(0.01);
  }
}

@keyframes spin9 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0.01);
    transform: rotate(0deg) scale(0.01);
  }
  20% {
    opacity: 100;
    -webkit-transform: rotate(36deg) scale(1);
    transform: rotate(36deg) scale(1);
  }
  60% {
    opacity: 100;
    -webkit-transform: rotate(36deg) scale(1);
    transform: rotate(36deg) scale(1);
  }
  80% {
    opacity: 0;
    -webkit-transform: rotate(720deg) scale(0.01);
    transform: rotate(720deg) scale(0.01);
  }
  100% {
    ;
    -webkit-transform: rotate(720deg) scale(0.01);
    transform: rotate(720deg) scale(0.01);
  }
}

@keyframes spin10 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0.01);
    transform: rotate(0deg) scale(0.01);
  }
  20% {
    opacity: 100;
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }
  60% {
    opacity: 100;
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }
  80% {
    opacity: 0;
    -webkit-transform: rotate(720deg) scale(0.01);
    transform: rotate(720deg) scale(0.01);
  }
  100% {
    ;
    -webkit-transform: rotate(720deg) scale(0.01);
    transform: rotate(720deg) scale(0.01);
  }
}